{{#if _useNativeSelect}}

<div class="dropdown is-native">
    <select class="js-data-output">
        <option class="dropdown__placeholder dropdown__item" disabled="true" hidden="true" default="true" text="{{placeholder}}" value="-1">{{placeholder}}</option>
        {{#each _options}}
        <option class="dropdown__item" text="{{text}}" value="{{_index}}">{{text}}</option>
        {{/each}}
    </select>
    <span class="dropdown__arrow">
        <div class="icon"></div>
    </span>
</div>

{{else}}

<div class="dropdown is-non-native">
    <button aria-haspopup="listbox">
        <span class="dropdown__inner"></span>
        <span class="dropdown__arrow">
            <div class="icon"></div>
        </span>
    </button>
    <input class="js-data-output" type="hidden" />
    <ul role="listbox" tabindex="-1">
        <li role="option" id="dropdown__item__{{_id}}__{{_dropdownIndex}}__0" class="dropdown__placeholder dropdown__item" disabled="true" hidden="true" default="true" text="{{placeholder}}" value="{{placeholder}}"><span>{{{placeholder}}}</span></li>
        {{#each _options}}
        <li role="options" id="dropdown__item__{{../_id}}__{{../_dropdownIndex}}__{{inc @index}}" class="dropdown__item" text="{{text}}" value="{{_index}}"><span>{{#if displayText}}{{{displayText}}}{{else}}{{{text}}}{{/if}}</span></li>
        {{/each}}
    </ul>
</div>

{{/if}}
