{{! Maintainers - Kevin Corry, Daryl Hedley, Himanshu Rajotia <himanshu.rajotia@credipoint.com>}}
<div class="matching-inner component-inner" role="region" aria-label="{{_globals._components._matching.ariaRegion}}" {{#if _globals._components._matching.ariaRegion}}tabindex="0"{{/if}}>
  {{> component this}}
  <div class="matching-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
    {{#each _items}}
    <div class="matching-item item {{#unless ../_isEnabled}} {{#if _isCorrect}}correct{{else}}incorrect{{/if}} {{/unless}} item-{{@index}}">
      <div class="matching-item-title">{{{a11y_text text}}}</div>
      <div class="matching-select-container component-item-color">
        <div class="matching-select-state">
          <div class="matching-select-icon component-text-color matching-dropdown-icon icon icon-controls-small-down"></div>
          <div class="matching-select-icon component-text-color matching-correct-icon icon icon-tick"></div>
          <div class="matching-select-icon component-text-color matching-incorrect-icon icon icon-cross"></div>
        </div>
        <select class="matching-select component-text-color"{{#unless ../_isEnabled}} disabled{{/unless}}>
          <option>
            {{../placeholder}}
          </option>
          {{#each _options}}
          <option {{#if _isSelected}}selected{{/if}}>
            {{text}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="buttons">
  </div>
</div>
