{{! Maintainers - Kevin Corry}}
<div class="matching-inner component-inner">
  {{> component this}}
  <div class="matching-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
    {{#each _items}}
    <div class="matching-item item {{#unless ../_isEnabled}} {{#if _isCorrect}}correct{{else}}incorrect{{/if}} {{/unless}} item-{{@index}}">
      <div class="matching-item-title">{{{text}}}</div>
      <div class="matching-select-container component-item-color">
        <div class="matching-select-state">
          <div class="matching-select-icon component-text-color matching-dropdown-icon icon icon-controls-small-down"></div>
          <div class="matching-select-icon component-text-color matching-correct-icon icon icon-tick"></div>
          <div class="matching-select-icon component-text-color matching-incorrect-icon icon icon-cross"></div>
        </div>
        <select class="matching-select component-text-color" {{#unless ../_isEnabled}}disabled="true"{{/unless}}>
          <option {{#if ../_isEnabled}}selected="selected"{{/if}}>
            {{../placeholder}}
          </option>
          {{#each _options}}
          <option {{#unless ../_isEnabled}}{{#if selected}}selected="selected"{{/if}}{{/unless}}>
            {{text}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
    {{/each}}
    <div class="buttons">
        {{> buttons this}}
    </div>
  </div>
</div>
